/* 
==================================================
- Project: Assignment 1
- File Description: Responsive css file of the template
- Version: 1.0.0
==================================================
*/

/*** Grid Responsive (Breakpoints) ***/
/* SM ≥576px */
@media (min-width: 576px) {

    /* Container */
    .container {
        max-width: 540px;
    }

    /* Column */
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* MD ≥768px */
@media (min-width: 768px) {

    /* Container */
    .container {
        max-width: 720px;
    }

    /* Column */
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* LG ≥992px */
@media (min-width: 992px) {

    /* Container */
    .container {
        max-width: 960px;
    }

    /* Column */
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/* XL ≥1200px */
@media (min-width: 1200px) {

    /* Container */
    .container {
        max-width: 1140px;
    }

    /* Column */
    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.66%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

@media (min-width: 1400px) {

    /* Container */
    .container {
        max-width: 1320px;
    }
}

@media screen and (max-width: 991px) {

    /*** Common CSS ***/
    .section-ptb {
        padding-top: 5.625rem;
        padding-bottom: 5.625rem;
    }

    /*** Buttons ***/
    .button {
        padding: .81rem 2rem;
    }

    /*** Hero ***/
    .hero {
        padding: 6.250rem 0;
    }

    .hero-content .hero-head {
        font-size: 3.625rem;
        margin-bottom: 1.5rem;
    }

    /* [ Action Section ] */
    /*================================================== */
    .action-content {
        margin-bottom: 3rem;
    }

    .action-image img {
        margin: auto;
    }

    /* [ Productive Users ] */
    /*================================================== */
    .productive-users-content {
        padding: 3.125rem 3.75rem;
    }

    .productive-users-content>h2 {
        margin-bottom: 1.75rem;
    }

    .productive-users-content .number {
        font-size: 3.625rem;
    }

    /* [ Users Feedback Section ] */
    /*================================================== */
    .users-feedback.section-ptb {
        padding-bottom: 4.375rem;
    }

    /* [ Ready to focus better ] */
    /*================================================== */
    .better-focus-content {
        padding: 3.125rem 3.750rem;
    }

    /* [ Contact Section ] */
    /*================================================== */
    .contact.section-ptb {
        padding-top: 0;
    }

    .contact-head {
        font-size: 4.375rem;
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width:767px) {

    /*** Hero ***/
    .hero {
        padding: 7.250rem 0;
    }

    .hero-content .hero-head {
        font-size: 2.250rem;
    }

    /* [ Action Section ] */
    /*================================================== */
    .action-content {
        text-align: center;
        margin-bottom: 2.375rem;
    }

    .action-content h2 {
        margin-bottom: 0.5rem;
    }

    /* [ Productive Users ] */
    /*================================================== */
    .productive-users-content {
        padding: 3rem 2rem 0.75rem 2rem;
    }

    .productive-users-content .row {
        justify-content: center;
    }

    .productive-users-content .row .col-6 {
        margin-bottom: 1.5rem;
    }

    .productive-users-content>h2 {
        font-size: 2.125rem;
    }

    .productive-users-content .number {
        font-size: 2.875rem;
    }

    .productive-users-content .number-subtitle {
        font-size: 1.125rem;
    }

    /* [ Ready to focus better ] */
    /*================================================== */
    .better-focus-content {
        padding: 1.875rem 1rem;
    }

    .better-focus-content h1 {
        font-size: 2.375rem;
    }

    .better-focus-banner img {
        border-radius: 38px;
    }

    /* [ Contact Section ] */
    /*================================================== */
    .contact-head {
        font-size: 2.875rem;
    }
}