/*
Project: Assignment 1
GitHub Repository URI: https://github.com/AbrarulRhythm/assignment-01
Assignment #
Description: #
File Description: Main css file of the template
Version: 1.0.0
*/

/*------------------------------------------------------------------
[Table of Contents]
    + General
        - Variable Define
        - Common CSS
        - Container Default CSS
        - Grid System (Flexbox-based)
        - Buttons
    + Header
        - Nav
        - Hero
    + Action Section
------------------------------------------------------------------*/

/* [ General ] */
/*================================================== */

/*** Variable Define ***/
:root {
    /* Font Family */
    --font-Inter: "Inter", sans-serif;
    --font-Raleway: "Raleway", sans-serif;

    --body-bg: #F5F8FF;
    --primary-color: #4E47FF;
}

/*** Common CSS ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    height: 100%;
    width: 100%;
    color: #8987A1;
    background-color: var(--body-bg);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #252432;
    font-family: var(--font-Raleway);
}

a {
    text-decoration: none;
    box-shadow: none;
    transition: all 0.3s ease;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

::selection {
    color: #FFF;
    background-color: var(--primary-color);
}

.primary-color {
    color: var(--primary-color);
}

.primary-bg {
    background-color: var(--primary-color);
}

.font-Inter {
    font-family: var(--font-Inter);
}

.font-Raleway {
    font-family: var(--font-Raleway);
}

.section-ptb {
    padding-top: 7.250rem;
    padding-bottom: 7.250rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

/*** Container Default CSS ***/
.container {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/*** Grid System (Flexbox-based) ***/
/* Base Row */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Base Column Padding */
[class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

/* Default (mobile - col-*) */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*** Buttons ***/
.button {
    width: max-content;
    display: inline-block;
    font-size: 16px;
    font-family: var(--font-Raleway);
    font-weight: 600;
    padding: 0.750rem 2.250rem;
    color: #FFF;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.5s ease;
}

/* [ Header ] */
/*================================================== */
#header {
    background-image: url('../images/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/*** Nav ***/
.header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-logo {
    font-family: var(--font-Inter);
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-color);
}

/*** Hero ***/
.hero {
    padding: 9.875rem 0;
    text-align: center;
}

.hero-content .hero-head {
    font-size: 4.063rem;
    font-weight: 700;
    margin: 0 auto 2.313rem auto;
    max-width: 900px;
}

/* [ Action Section ] */
/*================================================== */
.action-content h2 {
    font-size: 2.625rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.action-content p {
    font-family: var(--font-Raleway);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.action-image img {
    display: block;
    margin-left: auto;
    border-radius: 48px;
}